* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mail{
  width: 100%;
  margin-top: 50px;
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.mailInputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mailInputContainer>input{
  width: 50%;
  margin: auto;
  height: 30px;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

.mailInputContainer>button{
  width: 50%;
  margin: auto;
  height: 50px;
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .mailInputContainer>input {
    width: 100%;
  }
  .mailInputContainer>button {
    width: 100%;
  }
}